body {
	background-color: #E6E6E8;
}

/* Global fonts */
body,
.side, .linkinfo, .side .md .-blocks, .side .md .-lists, .side .md pre, .side .md blockquote, .side .md table, .side .md p, .side .md ul, .side .md ol,
.link .title, .content .linkflairlabel, .entry .buttons li a,
.commentarea>.usertext textarea, .comments-page .link .usertext .md,
.comment-permalink-page .infobar, .gold-accent.comment-visits-box, .gold-accent.comment-visits-box select ,
.entry .tagline, .usertext .bottom-area, .combined-search-page .search-result .search-result-meta,
.footer .flat-vert.title {
	font-family:"Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Arial",sans-serif
}

#images:before {
	display: none;
}

/* Floating messages, etc. bar for RES */
.res-floater-visibleAfterScroll {
	right: 16px;
}

/* "My Subreddits" dropdown */
#sr-header-area .drop-choices.srdrop {
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0,0,0,.24);
	opacity: 0;
	top: 14px!important;
	transition: all .2s cubic-bezier(.4,0,.2,1);
	visibility: hidden;
}

#sr-header-area .drop-choices.srdrop.inuse {
	opacity: 1;
	top: 23px!important;
	visibility: visible;
}

#sr-header-area .dropdown.srdrop {
	cursor: default;
	padding-left: 8px;
}

#sr-header-area .selected.title {
	width: 12px;
	visibility: hidden;
}

#sr-header-area .selected.title:before {
	color: rgba(255,255,255,.4);
	content: "≡";
	cursor: default;
	display: inline-block;
	font-size: 19px;
	margin: 0 8px 0 0;
	visibility: visible;
}

#sr-header-area .dropdown.srdrop:hover .selected.title:before {
	color: #FFF;
}

#sr-header-area .drop-choices.srdrop.inuse a:first-child {
	border-radius: 2px 2px 0 0;
}

#sr-header-area .drop-choices a.choice {
	border: none;
	color: #777;
	padding: 3px 12px;
	transition: none;
}

#sr-header-area .drop-choices a.choice:hover {
	background: #EEE;
	color: #222;
}

.srdrop .choice.bottom-option {
	border-top: 1px solid #555;
	font-style: normal;
}

/* Horizontal list of subreddits */
#sr-header-area {
	background: transparent;
	font-size: 10px;
}
#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .separator, #sr-header-area .dropdown.srdrop .selected {
	color: rgba(255,255,255,.4);
}

#sr-header-area:hover .sr-bar a, #sr-header-area:hover #sr-more-link, #sr-header-area:hover .seperator, #sr-header-area:hover .dropdown.srdrop .selected {
	color: rgba(255,255,255,.4);
}

#sr-header-area .sr-bar a:hover, #sr-more-link:hover, #sr-header-area .dropdown.srdrop .selected:hover {
	color: #FFF;
	text-decoration: none;
}

#sr-header-area .width-clip {
	right: 302px;
}

#sr-header-area .sr-list {
	margin-right: 38px;
}

#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .separator, #sr-header-area .dropdown.srdrop .selected {
	background: none;
}

.separator, .user, .user .userkarma, #header-bottom-right a, #RESSettingsButton {
	color: #FFF;
	font-size: 10px;
	opacity: .7;
	text-transform: uppercase;
}

.beta-hint a {
	background-position: -32px -18px;
}

#modmail.nohavemail {
	background-position: -16px -1px;
}

#modmail.havemail {
	background-position: -16px -17px;
}

#header-bottom-right a.pref-lang {
	background-position: -32px -1px;
	top: -2px;
}

.loggedin .logout a {
	background-position: -48px -1px;
	top: -2px;
}

#header-bottom-right a:hover, #header-bottom-right .gearIcon:hover {
	opacity: 1;
}

#header-img.default-header, #header-img {
	background-position: -78px 0;
	bottom: -3px;
	height: 40px;
	left: 27px;
	opacity: .3;
	position: absolute;
	transition: opacity .15s cubic-bezier(.4,0,.2,1);
}

#header-img.default-header:hover, #header-img:hover {
	background-position: -78px 0;
	opacity: 1;
}

#header {
	background-position: 30% 0;
	box-shadow: none;
	height: 238px;
}

/* Logo */
#header .pagename a {
	background: url(%%redditname%%)  no-repeat center / contain;
	height: 85px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: -78px;
	width: 710px;
}

#header .separator {
	color: transparent;
	visibility: hidden;
}

#header-bottom-left {
	left: 0;
	right: 0;
	top: 160px;
}

.submit-page #header-bottom-left {
	left: 0;
	margin-left: auto;
}

#header .tabmenu {
	height: 32px;
	line-height: 33px;
	text-align: center;
}

#header .tabmenu:before {
	background: none;
	height: 32px;
}

#header .tabmenu li {
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
	margin: 1px 2px!important;
	transition: background .1s cubic-bezier(.4,0,.2,1);
}

#header .tabmenu li.selected {
	background: rgba(255,255,255,.92);
	border: 1px solid #FFF;
	height: 34px;
}

#header .tabmenu li.selected a {
	border: none;
	color: rgba(0,0,0,.8);
	font-weight: 800;
	text-shadow: none;
}

#header .tabmenu li a {
	color: #FFF;
	font-family: "Lato","Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .5px;
	margin: 0 auto;
	padding: 0 20px;
	text-shadow: 0 1px 4px rgba(0,0,0,.08);
	transition: color .1s cubic-bezier(.4,0,.2,1);
}

#header .tabmenu li:hover {
	background: #FFCA4F;
	border: 1px solid transparent;
	box-shadow: 0 0 6px rgba(255,202,79,.4);
}

#header .tabmenu li:hover a {
	color:rgba(0,0,0,.9);
	text-shadow:none;
}

/* Styles for most buttons */
button {
	border-radius: 4px!important;
	cursor: pointer!important;
}

.morelink, .submit-page #newlink.submit.content ul.tabmenu.formtab,
.submit_text.enabled.roundfield, body .btn, body button, .content .infobar {
	background: #1CBEF0;
}

body .btn, body button, .btn:hover, button:hover {
	box-shadow: none;
}

.morelink:hover, .btn:hover, body button:hover {
	background: #39D1FF;
}

.morelink:active , .btn:active , body button:active {
	background: #0288D1;
}

/* Link color */
.thing .title.loggedin.click, .thing .title.click, .link .entry .buttons li a.comments,.link .entry .buttons li a.flairselectbtn, .link .entry .buttons li a:hover, .titlebox .tagline a.flairselectbtn, .md a,
.wiki-page .wiki-page-content .md.wiki h4, .sidebox.create .morelink a, a, .side:after, .usertext .bottom-area a.reddiquette,
.wiki-page .pageactions .wikiaction-current, .tagline .submitter, .combined-search-page .search-result .search-result-header .search-title, 
.combined-search-page .search-result a, .combined-search-page .search-result a>mark, .combined-search-page .search-result .search-comments, 
.flairselector h2, .linefield .title, body .content .sitetable .link .title a:hover, .link .entry .tagline a:hover, .comment .author:hover, .md a:visited {color:#24A0ED;}
.thing .title.loggedin, .thing .title {
	color: #057ED6;
}

.author {
	color: #292F34;
}

.sponsorshipbox {
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}

#ad_sponsorship {
	margin: 0;
}

#ad_main {
	background: none;
	box-shadow: none;
	margin: -16px;
}

.login-form-side {
	border: none;
	box-shadow: none;
	padding: 0;
}

.side:before {
	background: none;
	display: none;
}

.side {
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
	margin: 190px 16px 156px 0;
	padding: 0 16px;
}
.side .spacer {
	margin: 0 0 20px;
}

/* Search box */
#search {
	margin-left: -16px;
	top: 254px;
}

#search input[type=text] {
	border-radius: 4px
}

#search #searchexpando {
	background: #F0F1F2;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	height: auto;
	margin-top: -2px;
	padding: 16px 0 8px 8px;
	letter-spacing: -.4px;
	line-height: normal;
	text-transform: uppercase;
}

/* Different padding for RES */
body.res #search #searchexpando {
	padding: 16px 0 16px 8px;
}

/* Extra dropdown boxes RES adds */
#search #searchexpando select {
	margin-left: 8px;
}

.sidebox.submit {
	margin-left: -16px;
}

/* Hide Naut text before/after */
.side .sidebox.submit-text .morelink:before, .side .sidebox.submit-link .morelink:after {
	display:none
}

.submit-link:before {
	font-family: "Roboto","Lato","Helvetica Neue","Franklin Gothic","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #696969;
	content: "SUBMIT CONTENT";
	position: absolute;
	text-align: center;
	top: 328px;
	transform: scaleY(1.4);
	-webkit-transform: scaleY(1.4);
	width: 320px;
}

.submit-link:after {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
	content: "";
	height: 100px;
	position: absolute;
	top: 312px;
	width: 320px;
	z-index: -1;
}

.morelink {
	top: 360px;
}

.res-nightmode .morelink:hover a {
	color: #FFF;
}

/* Colored glow only if not in RES night mode */
body:not(.res-nightmode) .morelink:hover {
	box-shadow: 0 0 8px rgba(57,209,255,.2);
}

.side .titlebox, .side .sidecontentbox {
	background: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
}

.side .titlebox h1.redditname a {
	color: #444;
	font-size: 0;
}

.side .titlebox h1.redditname a:before {
	content: "COMPETITIVE OVERWATCH";
	font-size: 20px;
}

.titlebox:before, .side .titlebox h1.redditname:before {
	display: none;
}

.side .titlebox {
	margin-top: -34px;
}

.side .titlebox h1.redditname {
	margin: 32px 0 0;
	position: static;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.titlebox span.subscribers {
	color: #555;
	display: block;
	margin-top: 12px;
	position: static;
	text-align: center;
}

.titlebox .users-online {
	display: block;
	margin: 8px auto 14px;
	text-align: center;
}

.leavemoderator {
	display: block;
	font-size: 11px;
	height: 22px;
}

.leavemoderator:first-letter, .leavemoderator a {
	text-transform: uppercase;
}

.res-sr-style-toggle {
	margin-top: 10px;
}

/* RES buttons to add shortcut and add to dashboard */
.subButtons {
	text-align: center;
}

body.listing-page>.content, body.other-discussions-page>.content, .comments-page .link, .commentarea>.sitetable>.comment, #images, .combined-search-page>.content, .sponsorshipbox, .commentarea>.usertext, .stylesheet-customize-container .pretty-form, .side .sidecontentbox, .account-activity-box, .side .titlebox, #previoussearch #moresearchinfo, #ad-frame, #ad_main, .wiki-page .wiki-page-content, .linefield, .submit-page .roundfield, .login-form-side {
	border-radius: 4px;
}

body:not(.res-nightmode) .titlebox .subscribers .number{
	color: #5D5D5D;
}

.titlebox .subscribers .number {
	font-size: 14px;
}

.titlebox .users-online .number {
	color: #888;
}

.titlebox .users-online .number:before {
	display: none;
}

div.titlebox span.number:after {
	content: " climbing the ladder";
}

.titlebox .users-online .number:after {
	content: " falling off it";
}

/* Popup box to add sub to a multireddit when hovering on subscribe button */
.hover-bubble {
	box-shadow: 0 1px 6px rgba(0,0,0,.24);
}

.hover-bubble.multi-selector {
	border-radius: 2px;
	font-size: 11px;
	padding: 11px 4px;
}

.hover-bubble.multi-selector .title a {
	margin-top: 6px;
}

.hover-bubble.multi-selector strong {
	color: #444;
	text-transform: uppercase;
}

.hover-bubble.multi-selector .multi-list {
	margin-top: 4px;
}

.hover-bubble.multi-selector .create-multi input[type="text"] {
	border: 1px solid #DDD;
	border-radius: 1px;
}

.hover-bubble.multi-selector:before, .hover-bubble.multi-selector:after {
	top: 58px;
}

.titlebox .fancy-toggle-button {
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 4px;
	cursor: pointer;
	display: block;
	font-size: 10px;
	margin: 12px auto 0;
	position: static;
	text-transform: uppercase;
	width: 288px;
}

.titlebox .fancy-toggle-button .active.remove {
	background: none;
	border: none;
	font-size: 11px;
	height: auto;
	line-height: 28px;
	margin: auto;
	text-align: center;
}

/* Not subscribed to subreddit */
.titlebox .fancy-toggle-button .active.add {
	background: #FFCA4F;
	border-radius: 4px;
	box-shadow: none;
	color: rgba(0,0,0,.86);
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	transition: opacity .2s cubic-bezier(.4,0,.2,1);
}

.titlebox .fancy-toggle-button .active.add:hover {
	background: #FFCA4E;
	box-shadow: 0 0 8px rgba(255,202,78,.2);
	color: #000;
	opacity: .9;
}
.titlebox .fancy-toggle-button a {
	color: #FFF;
}

.titlebox .fancy-toggle-button:hover {
	opacity: .9;
}

.titlebox .fancy-toggle-button a:hover, .titlebox .fancy-toggle-button a:active {
	background: none;
}

/* Subscribed to subreddit */
.subscriber .titlebox .fancy-toggle-button {
	background: rgba(0,0,0,.01);
	transition: background .2s cubic-bezier(.4,0,.2,1);
}

.subscriber .titlebox .fancy-toggle-button .active.remove {
	color: #ADADAD;
	text-transform: uppercase;
}

.subscriber .titlebox .fancy-toggle-button:hover {
	background: rgba(0,0,0,.06)
}

.subscriber .titlebox .fancy-toggle-button .active.remove:hover, .subscriber .titlebox .fancy-toggle-button .active.remove:active {
	background: none;
	color: #333;
}

.morelink {
	box-shadow: none;
	border-radius: 4px;
	margin-left: 16px;
	width: 135px;
}

.morelink a {
	font-family: "Lato","Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -.4px;
}

.sidebox.submit.submit-text .morelink a:before, .sidebox.submit.submit-link .morelink a:before {
	display:none;
}

/* "Show my flair on this subreddit" toggle */
.side .titlebox .toggle {
	font-size: 11px;
}

.side .titlebox h1.redditname, .sidecontentbox .title h1  {
	color: #686868;
	display: inline-block;
	font-family: "Roboto","Lato","Helvetica Neue","Franklin Gothic","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -.4px;
	transform: scaleY(1.2);
	-webkit-transform: scaleY(1.2);
}

.side .md .-blocks, .side .md .-lists, .side .md pre, .side .md blockquote, .side .md table, .side .md p, .side .md ul {
	line-height: 1.4
}

.titlebox form.toggle, .leavemoderator {
	padding: 0;
}

.side .titlebox .md h1 {
	color: #565656;
	font-size: 16px;
	margin: 18px 0 -8px!important;
}

.side .titlebox .md h1:after {
	border-bottom: 2px solid #EEE;
	content: "";
	display: block;
	margin-top: 2px;
	transform: scaleY(.833);
	-webkit-transform: scaleY(.833);
}

/* Links for Discord, Twitch, calendar and 'Bible' */
.side .md h2, .side .md h3, .side .md h4, .side .md h5 {
	border-radius: 4px;
	font-family: "Roboto","Lato","Helvetica Neue","Candara","Verdana","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	height: 38px;
	padding: 7px 0;
	transform: none;
	width: 100%;
}

.side .md h2:hover, .side .md h3:hover, .side .md h4:hover, .side .md h5:hover {
	opacity: .9;
}
.side .md h2:hover, .side .md h3:hover, .side .md h4:hover, .side .md h5:hover {
	opacity: .8;
}

.side .md h2 a, .side .md h3 a, .side .md h4 a, .side .md h5 a {
	color: #FFF;
	display: inline-block;
	width: 100%;
}

.side .md h2 a:visited, .side .md h3 a:visited, .side .md h4 a:visited, .side .md h5 a:visited  {
	color: #FFF !important;
}

.side .md h2 a:hover, .side .md h3 a:hover, .side .md h4 a:hover, .side .md h5 a:hover {
	text-decoration: none;
}

.side .md h2 a:before, .side .md h3 a:before, .side .md h4 a:before, .side .md h5 a:before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.side .md h2 a, .side .titlebox .md h3 a, .side .titlebox .md h4 a, .side .md h5 a {
	background: none;
	box-shadow: none;
	font-size: inherit;
	line-height: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

/* Discord */
.side .titlebox .md h2 {
	margin: 4px 0 -2px;
}

.side .md h2 {
	background: #3C3C3C;
}
.res-nightmode .side .md h2 {
	background: #444;
}

.side .md h2 a:before {
	background: url(%%sidebar-discord-icon-1x%%);
	height: 24px;
	width: 21px;
}

/* Calendar */
.side .md h3 {
	background: #1CBEF0;
	margin-top: -1px;
}

.side .titlebox .md h3 a {
	font-family: inherit;
	transition: none;
}

.side .titlebox .md h3 a:hover {
	background: none;
	box-shadow: none;
}

.side .md h3 a:before {
	background: url(%%sidebar-date-icon-1x%%);
	height: 24px;
	margin-right: 8px;
	margin-top: -1px;
	width: 24px;
}

/* Twitch */
.side .md h4 {
	background: #6441A5;
	margin-top: 16px;
}
.side .titlebox .md h4 a {
	color: #FFF;
}

.side .md h4 a:before {
	background: url(%%sidebar-twitch-icon-1x%%);
	height: 20px;
	width: 20px;
	vertical-align: bottom;
}
.side .md h5 {
	background: #FF8C00;
	margin-top: -1px;
}
.side .md h5 a:before {
	background: url(%%sidebar-bible-icon-1x%%);
	height: 24px;
	width: 24px;
}

/* Retina/@2x icons */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), 
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

	.side .md h2 a:before {
		background: url(%%sidebar-discord-icon-2x%%);
		background-size: 21px 24px;
	}

	.side .md h3 a:before {
		background: url(%%sidebar-date-icon-2x%%);
		background-size: 24px 24px;
	}

	.side .md h4 a:before {
		background: url(%%sidebar-twitch-icon-2x%%);
		background-size: 20px 20px;
	}

	.side .md h5 a:before {
		background: url(%%sidebar-bible-icon-2x%%);
		background-size: 24px 24px;
	}
}

/* Announcement/stickied links */
.side .md h6 {
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 85px;
	width: 336px;
	z-index: 1;
}

@media (max-width: 1360px) {
	.side .md h6 {
		right: 16px;
		width: auto;
	}
}

.side .md h6 a, .side .md h6 a:visited {
	color:rgba(0,0,0,.8);
}

.side .md h6 a {
	background: rgba(255,255,255,.94);
	border: 1px solid rgba(255,255,255,.4);
	border-radius: 4px;
	padding: 6px 18px;
	text-decoration: none;
}

.side .md h6 a:hover {
	background: #FFF;
	border: 1px solid #FFF;
	color: #222;
}

/* Second link */
.side .md h6+h6 {
	top: 123px;
}
.side .md h6+h6 a {
	padding: 6px 16px;
}

.side .md>ul {
	font-size: 12px;
	margin-top: 18px;
	padding-left: 16px;
}

.side .md ul>li {
	margin-top: 12px;
}

.side .md p a:hover, .side .md ul a:hover {
	text-decoration: underline;
}

/* Post filters */
body:not(.listing-page) .side .md>ol {
	display: none;
}

.side .md>ol {
	background: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #FFF;
	cursor: default;
	font-family: "Lato","Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 12px;
	left: 82%;
	left: calc(100% - 352px);
	letter-spacing: .5px;
	list-style-type: none;
	padding: 8px 16px;
	position: absolute;
	top: 182px;
	text-shadow: 0 1px 4px rgba(0,0,0,.1);
	transition: background .18s cubic-bezier(.4,0,.2,1), color .18s cubic-bezier(.4,0,.2,1);
	z-index: 1;
}
.side .md>ol>li {
	font-weight: bold;
}

.side .md>ol>li:after {
	content: " ▾";
	margin-left: -1px;
}

.side .md>ol li ol {
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.24);
	font-size: 14px;
	font-weight: normal;
	list-style-type: none;
	margin: 6px 0 0 -17px;
	opacity: 0;
	padding: 0;
	position: absolute;
	text-shadow: none;
	transition: all .24s cubic-bezier(.4,0,.2,1);
	visibility: hidden;
	width: 132px;
	z-index: 1;
}

.side .md>ol ol li:first-child a {
	border-radius: 4px 4px 0 0;
}

.side .md>ol ol li:last-child a {
	border-radius: 0 0 4px 4px;
}

.side .md>ol li a {
	background: #FFF;
	color: #777;
	display: block;
	padding: 5px 16px;
	width: 100%;
}

@media (max-width: 1302px) {
	.side .md>ol {
		left: initial;
		right: 16px;
	}

	.side .md>ol li ol {right: -1px}
}

.side .md>ol:hover {
	background: #FFF;
	color: rgba(0,0,0,.8);
	text-shadow: none;
}

.side .md>ol:hover ol {
	margin-top: 14px;
	opacity: 1;
	visibility: visible;
}

.side .md>ol li a:hover {
	background: #EEE;
	color: #222;
}


.side .gadget .score {
	margin-left: 0;
}

.side .entry {
	overflow: visible;
}

.side .entry .gadget small {
	display: inline-block;
	margin-top: 4px;
}

.sidebox.create {
	display: none;
}

.side:after {
	border: none;
	color: #BBB;
	content: "THIS SUBREDDIT USES A MODIFIED /R/NAUT THEME";
	font-size: 11px;
	margin: 14px auto 0 -16px;
	padding: 0;
}
.res-nightmode .side:after {
	color: #555;
}

.sidecontentbox li {
	margin-top: 3px;
}

.sidecontentbox a.helplink {
	background: #1CBEF0;
	border-radius: 3px;
	color: #FFF;
	display: block;
	float: none;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -.2px;
	margin: 0 0 14px;
	padding: 8px 16px;
	text-align: center;
	text-transform: uppercase;
}

.sidecontentbox a.helplink:hover {
	background: #39D1FF;
}
.sidecontentbox a.helplink:active {
	background: #0288D1;
}

.sidecontentbox .more {
	font-family: "Lato","Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -.5px;
	margin-top: 8px;
	text-align: left;
}

.sidecontentbox .content .gadget .right {
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.sidecontentbox .content .gadget .right a, .sidecontentbox .more a {
	color: #888;
}

.side .account-activity-box {
	background: none;
	box-shadow: none;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}

.side .account-activity-box a {
	background: rgba(0,0,0,.01);
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 4px;
	color: #555;
	display: inline-block;
	line-height: 32px;
	transition: background .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
	width: 100%;
}

.side .account-activity-box a:hover {
	background: #24A0ED;
	color: #FFF;
}

.top-page .menuarea {
	margin: 16px;
	text-transform: uppercase;
}

.dropdown.lightdrop .selected {
	border: none;
}

body.listing-page>.content {
	background: none;
	box-shadow: none;
	margin-top: 8px;
	padding: 0;
}

.hot-page.listing-page .stickied+.clearleft+.link:not(.stickied) {
	border-radius: 4px 4px 0 0;
}

/* Post thumbnails */
.stickied .thumbnail, .linkflair-Megathread .thumbnail {
	background-position: -91px -42px !important;
}
.thing:not(.stickied) .thumbnail.self, .search-result:not(.stickied) .thumbnail.self {
	background-position: -91px -98px;
}
.over18.link .thumbnail {
	background-position: -162px -98px !important;
}
.nsfw-stamp {
	margin-right: 8px;
}
.linkflair-Question .thumbnail {
	background-position: -91px -154px !important;
}
.linkflair-AdviceTips .thumbnail {
	background-position: -65px -210px !important;
}
.linkflair-PSA .thumbnail {
	background-position: -162px -154px !important;
}
.linkflair-Event .thumbnail {
	background-position: 4px -210px !important;
}
.linkflair-Guide .thumbnail {
	background-position: 4px -266px !important;
}
.linkflair-Video .thumbnail {
	background-position: -371px -210px !important;
}
.linkflair-SubredditMeta .thumbnail {
	background-position: -135px -266px !important;
}
.linkflair-Casting .thumbnail {
	background-position: -301px -266px !important;
}
.linkflair-eSports .thumbnail {
	background-position: 5px -322px !important;
}

.thumbnail.default, a.thumbnail[href*="reddit.com"] {
	background-position:-162px -42px;
	background-repeat:no-repeat;
}

/* Set post flair */
.flairselector {
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0,0,0,.12);
	margin-left: -215px;
	width: 430px!important;
}

.flairselector h2 {
	color: #777;
	font-size: 16px;
}

.flairselector .error:after {
	display: none;
}

.flairoptionpane ul li .linkflair a.title {
	font-size: 15px !important;
	padding: 0;
}

.flairoptionpane ul li .linkflair span.linkflairlabel {
	margin: 4px 6px 4px 0;
}

.tagline .stickied-tagline {
	color: #98ABBA;
	cursor: default;
}

.approval-checkmark {
	margin-left: 4px;
}

.content .thing .title:visited, .content .thing.visited .title {
	color: #4B5A63;
}
.res-nightmode .content .thing .title:visited, .res-nightmode .content .thing.visited .title {
	color: #CCC;
}

.listing-page .link, .listing-page .comment {
	background: #FFF;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
	padding: 16px 16px 14px;
}

.listing-page .comment .parent {
	margin-bottom: 8px;
}

.listing-page .link:nth-of-type(1), .listing-page .comment:nth-of-type(1) {
	border-radius: 4px 4px 0 0;
}

.listing-page .sitetable .usertext .md {
	max-width: none;
}

.link.last-clicked {
	background: #FFF;
	left: 0;
	margin: 0 auto;
}

.listing-page .sitetable>.thing:nth-last-child(2) {
	border-radius: 0 0 4px 4px;
}

.listing-page .sitetable>.thing:not(:nth-last-child(2)):after {
	border-bottom: 1px solid #EEE;
	content: "";
	display: block;
	margin: 14px -16px -14px;
}

.hot-page .stickied {
	margin-bottom: 16px!important
}

.hot-page .stickied+div+.stickied {
	border-radius: 0 0 4px 4px;
	margin-top: -16px;
}

.hot-page .stickied+div+.stickied:after {
	display: none !important;
}

.thing.stickied.link .entry .tagline .userattrs {
	display: none;
}

.thumbnail img {
	border-radius: 3px;
}

.link .title {
	font-size: 16px;
}

.link .score {
	color: #AAA;
	margin: 0 -100% 1px -100%;
}
.res-nightmode .link .score {
	color: #888;
}

.link .score.likes {
	color: #FF7A0D;
}

.link .score.dislikes {
	color: #1CBEF0;
}

.arrow.upmod {
	background-position: -32px -78px;
	width: 32px;
}

.arrow.downmod {
	width: 32px;
}
.arrow.down:after, .arrow.down:hover:after {
	display: none;
}

.arrow:hover {
	background-color: transparent;
	opacity: .9;
}

.thing.link.stickied .entry li .comments, .thing.link.stickied a.title {
	color: #1B7428;
	font-weight: bold;
}

.thing.link .domain a {
	font-size: 11px;
}

.thing.link.stickied .buttons a {
	color: #B3BBC1 !important;
}
.thing.link.stickied .buttons a:hover {
	color: #27B062 !important;
}

.gilded-icon {
	margin-left: 4px;
}

.gilded-icon:before {
	height: 19px;
	background-position: -72px -188px;
	vertical-align: 0;
}

.link .usertext .md {
	margin-top: 0;
	padding-top: 0;
}

/* Link flairs */
.content .linkflairlabel {
	border-radius: 2px;
	font-size: 11px;
	height: auto;
	letter-spacing: -.2px;
	margin-top: 1px;
	max-width: none;
	padding: 2px 6px;
	text-transform: uppercase;
}

.sitetable .linkflairlabel {
	background: #45A600;
}

.res-nightmode .linkflairlabel {
	opacity:.9;
}

.content .linkflair-SubredditMeta .linkflairlabel { background: #5D6779 }
.content .linkflair-Discussion .linkflairlabel { background: #24A0ED }
.content .linkflair-PSA .linkflairlabel { background: #E53935 }
.content .linkflair-eSports .linkflairlabel { background: #3949AB }
.content .linkflair-Megathread .linkflairlabel { background: #27B062 }
.content .linkflair-Event .linkflairlabel { background: #DC143C }
.content .linkflair-Guide .linkflairlabel { background: #B338C2 }
.content .linkflair-Question .linkflairlabel { background: #738491 }
.content .linkflair-Casting .linkflairlabel { background: #673AB7 }
.content .linkflair-Video .linkflairlabel { background: #FF5500 }
.content .linkflair-AdviceTips .linkflairlabel { background: #FFAB19 }

.expando {
	margin:8px 0 4px 0;
}

.md h1 {
	color: #525252;
	font-family: "Roboto","Lato","Helvetica Neue","Franklin Gothic","Candara","Helvetica","Verdana","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: -.5px;
	margin-top: 1em;
	transform: scaleY(1.2);
	-webkit-transform: scaleY(1.2);
	word-spacing: 1px;
	text-transform: uppercase;
}

.md h1:after {
	border-bottom: 2px solid #EEE;
	content: "";
	display: block;
	-webkit-transform: scaleY(.833);
	transform: scaleY(.833);
}

.md pre {
	background: #F9F9F9;
	border: none;
}

.md pre code {
	color: #333;
}

.md ul {
	margin-bottom: 8px;
	padding-left: 16px;
}

.md ol {
	background: rgba(0,0,0,.03);
	border-radius: 2px;
	padding: 6px 16px;
}

/* Table inside a post */
.md thead tr {
	background: #6F6F6F;
	border: none;
	color: #FFF;
}

.md table tr {
	border-bottom: 1px solid #F0F0F0;
}
.md table tr:nth-child(even) {
	background: rgba(0,0,0,.02);
}

.md thead tr th {
	padding: 8px 16px;
}
.md thead tr th:first-child {
	border-radius: 2px 0 0 0;
}
.md thead tr th:last-child {
	border-radius: 0 2px 0 0;
}

.md td, .md th {
	border: none;
}

.md th {
	padding: 8px 12px;
}

.nav-buttons {
	background: rgba(255,255,255,.82);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.14);
	padding-left: 16px;
	text-transform: uppercase;
}

.nav-buttons .nextprev a {
	border: 1px solid rgba(0,0,0,.06);
	margin-left: 6px;
}

.link .flat-list {
	margin-top: 6px;
}

.flat-list form {
	color: #A3ABB1;
	font-size: 12px;
}

/* Top page bar */
.top-page .menuarea {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.14);
	margin: 0 0 16px 0;
	padding: 14px 16px 12px;
}

/* Gilded page infobar ('Gildings in this subreddit have paid for..') */
.listing-page .reddit-infobar.gold-accent {
	background: #FFF;
	border: none;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
	margin-top: 0;
	padding: 8px 16px;
	width: 100%;
}
.listing-page .reddit-infobar.gold-accent p {
	font-size: 13px;
}
.listing-page .reddit-infobar.gold-accent p:first-letter {
	text-transform: uppercase;
}

.comments-page .link .flat-list {
	margin-top: 15px;
}

.entry .buttons .first {
	margin-left: -6px;
}

.entry .buttons li, .entry .buttons li+li {
	margin: 0 0 2px 0;
	padding: 0;
}

.entry .buttons li a {
	color: #A3ABB1;
	font-size: 12px;
	padding: 2px 6px;
	transition: color .1s cubic-bezier(.4,0,.2,1);
}

.comment .flat-list li a {
	font-size: 11px;
}

.commentarea .child .thing {
	padding-left: 16px !important;
	position: relative;
}

.commentarea>.sitetable>.comment {
	padding-left: 16px !important;
	position: relative;
}

.res .commentarea .thing {
	border-radius: 4px !important;
}

.commentarea>.sitetable>.comment.collapsed {
	padding: 10px 16px 16px
}

.comment.collapsed .tagline :not(.expand), .comment.collapsed .tagline a :not(.expand), .comment.collapsed .search-result-meta :not(.expand), .comment.collapsed .search-result-meta a :not(.expand) {
	font-style: normal
}

.comment-collapsed .numchildren {
	color: #98ABBA;
}

.comments-page .comment .expand {
	background: rgba(0,0,0,.01);
	border-radius: 4px 0 0 4px;
	bottom: 0;
	font-size: 10px;
	left: 0;
	padding: 4px;
	position: absolute;
	top: 0;
	transition: background .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

.comments-page .comment .expand:hover {
	background: #0288D1;
	color: #FFF;
}

.comments-page .entry form .usertext-edit.md-container, .comments-page .entry form .usertext-edit.md-container textarea {
	width: 100% !important
}

.commentarea .usertext-edit, .commentarea .md {
	max-width:none;
}

.commentarea .usertext-edit.md-container .md {
	margin-top:7px;
}

.commentarea>.usertext textarea {
	border-radius: 1px;
	color: #444;
	min-height: 102px;
}

.commentarea>.usertext textarea:not(:focus) {
	background-position: 0 50%;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.05);
}

.commentarea>.usertext textarea:focus {
	background: #FFF;
	border: 1px solid #1CBEF0;
}

.commentarea .panestack-title {
	margin-top: 14px;
}

.commentarea .panestack-title .title {
	color: #555;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -.5px;
	text-transform: uppercase;
}

.commentarea .menuarea {
	margin-top: 8px;
	text-transform: uppercase;
}

body:not(.loggedin) .commentarea .menuarea {
	margin: 0 0 8px;
}

.commentarea .menuarea form.toggle {
	margin-left: 16px;
}

.commentarea .menuarea .toggle a {
	font-size: 11px;
}

/* Comment page buttons */
.usertext button {
	box-shadow: none;
	font-size: 11px;
	margin: 0 8px 8px 0;
	padding: 0 16px;
}

.usertext button.save {
	background: #0079D3;
	font-size: 11px;
	transition: background .2s cubic-bezier(.4,0,.2,1), opacity .2s cubic-bezier(.4,0,.2,1);
}
.usertext button.save:hover {
	opacity: .9;
}

.usertext button.save:active {
	background: #0172C5;
}

.usertext button.cancel {
	background: #A9A9A9;
	transition: background .2s cubic-bezier(.4,0,.2,1);
}

.usertext button.cancel:hover {
	background: #BBB;
}
.usertext button.cancel:active {
	background: #999;
}

.siteTable .usertext button {
	margin: 0 16px 4px 0;
}

.comments-page .error {
	color: #EF0101;
	font-size: 12px;
}

.usertext .bottom-area a {
	color: #AEBFCC;
	font-size: 10px;
}

.usertext .bottom-area a.reddiquette {
	color: #AEBFCC;
	margin-top: 5.5px;
}

.usertext .bottom-area a.reddiquette:hover {
	color: #24A0F0;
}

.comments-page:not(.comment-permalink-page) .thing:not(.comment) {
	border-radius: 4px 4px 0 0;
}

.comments-page .commentarea>.usertext {
	padding-bottom: 8px !important;
}

.comments-page #header-img.default-header, .comments-page #header-img {
	bottom: -47px;
}

.comments-page .sitetable .link .title {
	margin-top: 4px;
}
.comments-page .sitetable .entry .tagline {
	margin-top: 6px;
}
.comments-page .link .entry .tagline a {
	color: #98ABBA;
}

.flair-verified:before {
	display:none;
}

.flair.flair-verified {
	background: #27B062;
	border-radius: 2px;
	color: #FFF;
	display: inline-block;
	font-family: inherit;
	font-size: 10px;
	font-weight: bold;
	margin: 0 4px;
	padding: 2px 6px;
	text-transform: uppercase;
}

.link .entry {
	max-width: none;
}

.comments-page .link .usertext .md {
	border: none;
	margin-top: 12px;
	padding: 0 16px;
	max-width: none;
}

.comments-page #header .tabmenu {
	display: none;
}
.comments-page #header .pagename a {
	top: -78px;
}

.comment-permalink-page .infobar {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.14);
	color: #333;
	font-size: 14px;
	margin: 6px 0 10px 0;
	padding: 14px 16px;
}

.comment-permalink-page .infobar a:hover {
	color: #24A0ED;
}

.comment-permalink-page .infobar p {
	display: inline-block;
	margin-left: 4px;
}
.comment-permalink-page .infobar p:first-letter {
	text-transform: uppercase;
}

.usertext.border .usertext-body {
	background: rgba(255,217,79,.15);
	border-radius: 2px;
	padding: 0;
}

.gold-accent.comment-visits-box, .gold-accent.comment-visits-box select {
	border: none;
	color: #333;
	font-weight: bold;
}

.gold-accent.comment-visits-box {
	background: none;
}

.gold-accent.comment-visits-box .title {
	position: relative;
}

.gold-accent.comment-visits-box .title:after {
	content: "▾";
	position: absolute;
	right: 8px;
	top: 2px;
}

.gold-accent.comment-visits-box select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #EFEFEF;
	border-radius: 2px;
	box-shadow: none;
	display: inline-block;
	font-size: 12px;
	margin: 0 0 0 2px;
	padding: 4px 20px 4px 12px;
}

.res-nightmode .gold-accent.comment-visits-box select {
	background: #333;
	color: #FFF;
}

.comment .entry .tagline .userattrs {
	margin-left: 1px;
}

.comment .score: before {
	display: none;
}

.comment .likes .score.likes, .comments-page .comment time {
	margin-left: 2px;
}

.comment .child, .comment .showreplies {
	border-left: none;
}

.comment .child {
	margin-left: 24px;
}

.new-comment .usertext-body {
	border: 1px solid rgba(0,0,0,.06);
	border-radius: 2px;
	margin: 2px 0;
}

.md blockquote {
	background: rgba(0,0,0,.04);
	border-radius: 1px;
	margin-left: 1px;
	padding: 8px;
}

.side .titlebox form.toggle.sr_style_toggle label {
	position: static;
}

.side .titlebox form.flairtoggle {
	margin-top: 3px;
}

.side .titlebox .tagline a.flairselectbtn {
	color: #585858;
	font-size: 11px;
	padding: 0 1px;
	text-transform: uppercase;
}

.comments-page .side {
	margin-top: 308px;
}
.res.comments-page .side {
	margin-top: 328px;
}

.comments-page .side .linkinfo {
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.14);
	margin-left: -16px;
	padding-bottom: 0;
	top: 428px;
}
.comments-page .side .linkinfo .score {
	margin-top: 8px;
}

.comments-page .linkinfo .score .number {
	font-size: 18px;
}

.comments-page .side .linkinfo .shortlink {
	font-size: 90%;
	margin-top: 0;
	visibility: hidden;
}
.comments-page .side .linkinfo .shortlink input {
	background: rgba(0,0,0,.03);
	border: none;
	border-radius: 0 0 4px 4px;
	margin: 0 -16px;
	padding: 10px 16px;
	visibility: visible;
	width: 320px;
}

/* For RES */
body.res.comments-page .side .linkinfo .score {
	margin-bottom: 6px;
}
.side .linkinfo .totalvotes, .side .linkinfo .upvotes, .side .linkinfo .downvotes {
	font-size: 100%;
	margin-right: 6px;
	opacity: .8;
}

.comments-page .side .titlebox {
	margin-top: -100px;
}

.comments-page .side .titlebox h1.redditname {
	margin-top: 100px;
}

.comments-page .side .linkinfo .score {
	color: #555;
	margin-top: 4px;
}

.linkinfo .shortlink {
	font-size: 90%;
	margin-top: 8px;
}

.linkinfo .shortlink input {
	width: 192px;
}

.titlebox .tagline {
	margin-bottom: 12px;
}
.titlebox .tagline:after {
	display: none;
}

.comments-page .thing .md a:hover {
	text-decoration: underline;
}

.submit-page #header {
	height: 238px;
}

.submit-page #header-bottom-left {
	top: 130px;
}

.submit-page #header-img.default-header, .submit-page #header-img {
	bottom: 0;
}

.submit-page #header .pagename a {
	top: -80px;
}

.submit-page .content {
	margin-top: 24px;
}

.submit-page #newlink.submit.content {
	width: 700px;
}

.submit-page form, .submit-page .roundfield, .submit-page .formtabs-content, .submit-page .roundfield input[type=text], .submit-page .roundfield input[type=url], .submit-page .roundfield textarea {
	width: 100%
}

.submit-page .formtabs-content {
	margin-top: 84px;
}

.submit-page .submit_text.enabled.roundfield {
	background: #FFCA4F;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
	color: #271100;
	padding: 16px;
	position: absolute;
	top: 318px;
	width: 700px;
}

.submit-page .submit_text.enabled.roundfield .md {
	color: rgba(0,0,0,.9);
	font-size: 13px;
}

.submit-page .tabmenu {
	margin-top: 0;
}

.submit-page #newlink.submit.content ul.tabmenu.formtab {
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.submit-page #newlink.submit.content .tabmenu.formtab a {
	background: #FFF;
	border: none;
	color: #888;
	line-height: 48px;
	padding: 0;
	width: 50%;
}
.res-nightmode .submit-page #newlink.submit.content .tabmenu.formtab a {
	background: #333;
	color: #EEE;
}
.submit-page #newlink.submit.content .tabmenu.formtab li:first-child a {
	border-radius: 4px 0 0 0;
}
.submit-page #newlink.submit.content .tabmenu.formtab li:last-child a {
	border-radius: 0 4px 0 0;
}

.submit-page #newlink.submit.content .tabmenu.formtab .selected a, .submit-page #newlink.submit.content .tabmenu.formtab a:hover {
	background: #FFCA4F;
	border-bottom: none;
	color: #271100;
}

#new-link-image-input {
	padding-top: 5px;
}

.submit-page .roundfield .roundfield-content {
	margin-top: 4px;
}

.submit-page .roundfield .usertext-edit {
	width: 100%;
}

.submit-page .roundfield .title:not(textarea) {
	color: #777;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.submit-page .little.gray {
	color: #BFBFBF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

#newlink-with-image-upload .file-upload-button, #newlink-with-image-upload .file-upload-button:hover {
	background: #555;
	border-radius: 4px;
	box-shadow: none;
}

.usertext .bottom-area {
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.submit-page .content input[type=text], .submit-page .content input[type=url], .submit-page .content textarea {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
}

.submit-page #url-field button {
	background: #888;
	transition: background .2s cubic-bezier(.4,0,.2,1);
}

.submit-page #url-field button:hover {
	background: #999;
}
.submit-page #url-field button:active {
	background: #777;
}

.submit-page .roundfield label {
	font-size: 14px;
}

.content.submit .info-notice {
	background: none;
	box-shadow: none;
	margin-top: 32px;
	padding: 0;
}
.submit-page .info-notice:first-letter {
	text-transform: uppercase;
}

.submit-page #newlink.submit.content .btn {
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.submit-page #newlink.submit.content .btn:hover {
	box-shadow: none;
}

.submit-page #newlink.submit.content .btn:after {
	display: none;
}

.submit-page .footer-parent {
	display:block;
	margin-top:1px;
}

/* Search Page */
.search-page #header {
	height: 238px;
}

.search-page #header-img.default-header, .search-page #header-img {
	left: 16px;
	top: 126px;
}

.search-page #header .pagename a {
	display: block;
	top: 24px;
}

.search-page #search {
	left: 16px;
	top: -56px;
	width: 100%;
}

.search-page #search input[type=text] {
	font-size: 16px;
	max-width: none;
	padding-right: 38px;
	width: 100%;
}

#previoussearch #moresearchinfo {
	padding: 10px 16px;
}

.search-page #previoussearch p a#search_showmore {
	background-position: -47px -163px;
	left: 100.6%;
}

#previoussearch p:first-letter {
	text-transform: uppercase;
}

.search-page .drop-choices.lightdrop {
	border-radius: 2px;
}

.search-page .side {
	display: none;
}

.search-page .content {
	margin: 56px auto;
	min-width: 750px;
	padding: 0;
	width: 80%;
}

/* RES Alignment */
.res.search-page .content {
	margin: 0 auto;
}
.res.search-page #search {
	top: -103px;
}

.combined-search-page .search-result-group .search-header-label {
	font-size: 20px;
	font-weight: 900;
	margin-left: 16px;
	text-transform: uppercase;
}

.search-page .search-header-menus {
	font-weight: bold;
	text-transform: uppercase;
}

.search-page .search-menu {
	font-size: .9em;
}

.search-page .searchpane {
	top: -29px;
	z-index: 2;
}

.search-page .searchpane.raisedbox label {
	background: #F2F2F3;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

/* RES 'refine' button */
#previoussearch ul.res-search-tabs li {
	background: none;
	margin-top: -4px;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}
ul.res-search-tabs li.res-search-tab-active a {
	border: none;
}

.combined-search-page #previoussearch .res-search-pane {
	margin-top: 8px;
}

dt {
	margin-top: 6px;
}

.combined-search-page .search-result-listing .search-result-subreddit {
	border: none;
}

.search-page .search-result-group footer .nav-buttons {
	font-weight: bold;
	text-transform: uppercase;
}

.combined-search-page .search-result-subreddit .search-subscribe-button a {
	color: #FFF;
}

.search-result-subreddit .search-result-meta span.search-time{
	display: inline-block;
}

.combined-search-page .search-result-group footer .nav-buttons {
	box-shadow: none;
	margin: -24px 0 16px;
}

.search-result-group footer .info {
	color: #9A9A9A;
	margin: 16px;
	padding-bottom: 16px;
}

.search-result-group footer .info:first-letter {
	text-transform: uppercase;
}

.search-page .search-result {
	border-bottom: 1px solid #EEE;
	margin: 12px 0;
	padding: 0 12px 12px;
}

.search-page .contents>div:last-child {
	border-bottom: none;
}

.search-result.has-thumbnail>.thumbnail img {
	border-radius: 4px;
	min-width: initial;
}

.search-result mark {
	line-height: normal;
}

.search-page .search-result .search-expando-button {
	font-size: 11px;
	font-weight: bold;
	margin-top: 8px;
	text-transform: uppercase;
}

.search-result-header {
	margin-top: 8px;
}

.search-result-meta {
	font-size: 12px;
}

.search-score {
	font-size: inherit;
}

.search-result .search-result-meta a {
	color: #555;
	font-weight: normal;
}

.combined-search-page .search-result a.author {
	margin-right: 0;
}

.search-result .userattrs {
	visibility: hidden;
}

.search-result .userattrs a.moderator {
	background: #27B062;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold;
	font-size: 11px;
	padding: 0 3px;
	visibility: visible;
}

.combined-search-page .search-result .search-result-meta span:last-of-type {
	opacity: .9;
}

.combined-search-page .search-result .search-result-footer a:hover {
	text-decoration: underline;
}

.search-result .userattrs a.moderator:hover{
	text-decoration: none;
}

.search-result-body {
	margin-top: 12px;
	padding-right: 0;
}

.search-result-body .md {
	max-width: none;
}

/* Footer */

.footer-parent {
	background: #242729;
	height: auto;
	padding: 32px 0;
}

.footer {
	background: none;
	line-height: 1.6;
	margin: 0 auto 16px auto;
	padding: 0;
	text-transform: uppercase;
}

.footer .col {
	padding: 0;
}

.footer .flat-vert.title {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}

.footer a {
	color: rgba(255,255,255,.4);
	font-size: 10px;
	font-weight: normal;
}
.bottommenu {
	color: rgba(255,255,255,.24);
	font-size: 9px;
	letter-spacing: 1px;
	line-height: 1.8;
	text-transform: uppercase;
}

.bottommenu a, .bottommenu .updated {
	color: rgba(255,255,255,.24);
}

.bottommenu a:hover, .bottommenu .updated:hover, .footer a:hover {
	color: #FFF;
}

/* Mod tools/pages */

#moderation_tools li {
	font-size: 12px;
	margin-top: 6px;
	text-transform: capitalize;
}

#moderation_tools a {
	margin-left: 2px
}

.linefield, .linefield.mobile,.linefield .usertext-edit,.linefield .usertext-edit input,.linefield .usertext-edit textarea {
	width:100%
}
.linefield .md {
	max-width:none
}

/* RES night mode */

.res-nightmode body {
	background: #242729;
}

.res-nightmode .submit-link:after, .res-nightmode #sr-header-area,
.res-nightmode #header-bottom-right, .res-nightmode .side .linkinfo,
.res-nightmode .comments-page .link, .res-nightmode #search input[type=text],
.res-nightmode .listing-page .link, .res-nightmode #header .tabmenu li a, .res-nightmode .commentarea>.sitetable>.comment,
.res-nightmode .commentarea>.usertext, .res-nightmode #REScommentNavToggle {
	background: none !important;
}

.res-nightmode .listing-page .sitetable>.thing:after {
	display:none;
}
.res-nightmode .arrow.up, .res-nightmode .arrow.up:hover {
	background-position: 0 -80px;
}
.res-nightmode .arrow.upmod {
	background-position: -32px -78px;
}
.res-nightmode .arrow.down, .res-nightmode .arrow.down:hover {
	background-position: -64px -80px;
}
.res-nightmode .arrow.downmod {
	background-position: 0 -100px;
}

.res-nightmode .arrow.up:hover, .res-nightmode .arrow.down:hover {
	opacity: .9;
}

.res-nightmode .submit-link:before, .res-nightmode .morelink a,
.res-nightmode .side .titlebox .md h1, .res-nightmode .sidecontentbox .title h1,
.res-nightmode .side .titlebox h1.redditname a, .res-nightmode .side h1,
.res-nightmode .side #moderation_tools .title h1, .res-nightmode .linkflairlabel, .res-nightmode .md h1,
.res-nightmode .combined-search-page .search-result-group .search-header-label,
.res-nightmode .submit-page .roundfield .title, .res-nightmode .gold-accent.comment-visits-box,
.res-nightmode .commentarea .panestack-title .title, .res-nightmode .link .entry .tagline a {
	color: #FFF;
}

.res-nightmode .side .md>ol {
	background: none!important;
	border: none;
}

.res-nightmode .side .titlebox .md h1:after {
	border-bottom-color: #444;
}

.res-nightmode .search-page .search-result {
	border: none;
}

.res-nightmode #search #searchexpando {
	background-color:#444;
}

.res-nightmode textarea, .res-nightmode .commentarea>.usertext textarea, .res-nightmode body .content textarea:focus {
	color: #FFF;
}

.res-nightmode .commentarea>.usertext textarea:not(:focus) {
	background: url(%%commentboxbg-night%%) no-repeat;
	background-color: #333;
}

.res-nightmode .commentarea>.usertext textarea:focus {
	background: #444;
}