.md a[href*="#flags-"] {
	background:url(%%flags-all%%);
	cursor:default;
	display:inline-block;
	font-size:;
	height:15px;
	pointer-events:none;
	width:21px;
}
.md a[href="#flags-ad"] {background-position: 0px 0px}
.md a[href="#flags-ae"] {background-position: -21px 0px}
.md a[href="#flags-af"] {background-position: -42px 0px}
.md a[href="#flags-ag"] {background-position: -63px 0px}
.md a[href="#flags-ai"] {background-position: -84px 0px}
.md a[href="#flags-al"] {background-position: -105px 0px}
.md a[href="#flags-am"] {background-position: -126px 0px}
.md a[href="#flags-ao"] {background-position: -147px 0px}
.md a[href="#flags-ar"] {background-position: -168px 0px}
.md a[href="#flags-as"] {background-position: -189px 0px}
.md a[href="#flags-at"] {background-position: 0px -15px}
.md a[href="#flags-au"] {background-position: -21px -15px}
.md a[href="#flags-aw"] {background-position: -42px -15px}
.md a[href="#flags-ax"] {background-position: -63px -15px}
.md a[href="#flags-az"] {background-position: -84px -15px}
.md a[href="#flags-ba"] {background-position: -105px -15px}
.md a[href="#flags-bb"] {background-position: -126px -15px}
.md a[href="#flags-bd"] {background-position: -147px -15px}
.md a[href="#flags-be"] {background-position: -168px -15px}
.md a[href="#flags-bf"] {background-position: -189px -15px}
.md a[href="#flags-bg"] {background-position: 0px -30px}
.md a[href="#flags-bh"] {background-position: -21px -30px}
.md a[href="#flags-bi"] {background-position: -42px -30px}
.md a[href="#flags-bj"] {background-position: -63px -30px}
.md a[href="#flags-bl"] {background-position: -84px -30px}
.md a[href="#flags-bm"] {background-position: -105px -30px}
.md a[href="#flags-bn"] {background-position: -126px -30px}
.md a[href="#flags-bo"] {background-position: -147px -30px}
.md a[href="#flags-br"] {background-position: -168px -30px}
.md a[href="#flags-bs"] {background-position: -189px -30px}
.md a[href="#flags-bt"] {background-position: 0px -45px}
.md a[href="#flags-bv"] {background-position: -21px -45px}
.md a[href="#flags-bw"] {background-position: -42px -45px}
.md a[href="#flags-by"] {background-position: -63px -45px}
.md a[href="#flags-bz"] {background-position: -84px -45px}
.md a[href="#flags-ca"] {background-position: -105px -45px}
.md a[href="#flags-cc"] {background-position: -126px -45px}
.md a[href="#flags-cd"] {background-position: -147px -45px}
.md a[href="#flags-cf"] {background-position: -168px -45px}
.md a[href="#flags-cg"] {background-position: -189px -45px}
.md a[href="#flags-ch"] {background-position: 0px -60px}
.md a[href="#flags-ci"] {background-position: -21px -60px}
.md a[href="#flags-ck"] {background-position: -42px -60px}
.md a[href="#flags-cl"] {background-position: -63px -60px}
.md a[href="#flags-cm"] {background-position: -84px -60px}
.md a[href="#flags-cn"] {background-position: -105px -60px}
.md a[href="#flags-co"] {background-position: -126px -60px}
.md a[href="#flags-cr"] {background-position: -147px -60px}
.md a[href="#flags-cu"] {background-position: -168px -60px}
.md a[href="#flags-cv"] {background-position: -189px -60px}
.md a[href="#flags-cw"] {background-position: 0px -75px}
.md a[href="#flags-cx"] {background-position: -21px -75px}
.md a[href="#flags-cy"] {background-position: -42px -75px}
.md a[href="#flags-cz"] {background-position: -63px -75px}
.md a[href="#flags-de"] {background-position: -84px -75px}
.md a[href="#flags-dj"] {background-position: -105px -75px}
.md a[href="#flags-dk"] {background-position: -126px -75px}
.md a[href="#flags-dm"] {background-position: -147px -75px}
.md a[href="#flags-do"] {background-position: -168px -75px}
.md a[href="#flags-dz"] {background-position: -189px -75px}
.md a[href="#flags-ec"] {background-position: 0px -90px}
.md a[href="#flags-ee"] {background-position: -21px -90px}
.md a[href="#flags-eg"] {background-position: -42px -90px}
.md a[href="#flags-eu"] {background-position: -63px -90px}
.md a[href="#flags-fi"] {background-position: -84px -90px}
.md a[href="#flags-fj"] {background-position: -105px -90px}
.md a[href="#flags-fk"] {background-position: -126px -90px}
.md a[href="#flags-fm"] {background-position: -147px -90px}
.md a[href="#flags-fo"] {background-position: -168px -90px}
.md a[href="#flags-fr"] {background-position: -189px -90px}
.md a[href="#flags-ga"] {background-position: 0px -105px}
.md a[href="#flags-gb"] {background-position: -21px -105px}
.md a[href="#flags-gb-eng"] {background-position: -42px -105px}
.md a[href="#flags-gb-nir"] {background-position: -63px -105px}
.md a[href="#flags-gb-sct"] {background-position: -84px -105px}
.md a[href="#flags-gb-wls"] {background-position: -105px -105px}
.md a[href="#flags-gb-zet"] {background-position: -126px -105px}
.md a[href="#flags-gd"] {background-position: -147px -105px}
.md a[href="#flags-ge"] {background-position: -168px -105px}
.md a[href="#flags-gf"] {background-position: -189px -105px}
.md a[href="#flags-gg"] {background-position: 0px -120px}
.md a[href="#flags-gh"] {background-position: -21px -120px}
.md a[href="#flags-gi"] {background-position: -42px -120px}
.md a[href="#flags-gl"] {background-position: -63px -120px}
.md a[href="#flags-gm"] {background-position: -84px -120px}
.md a[href="#flags-gn"] {background-position: -105px -120px}
.md a[href="#flags-gp"] {background-position: -126px -120px}
.md a[href="#flags-gq"] {background-position: -147px -120px}
.md a[href="#flags-gr"] {background-position: -168px -120px}
.md a[href="#flags-gs"] {background-position: -189px -120px}
.md a[href="#flags-gt"] {background-position: 0px -135px}
.md a[href="#flags-gu"] {background-position: -21px -135px}
.md a[href="#flags-gw"] {background-position: -42px -135px}
.md a[href="#flags-gy"] {background-position: -63px -135px}
.md a[href="#flags-hk"] {background-position: -84px -135px}
.md a[href="#flags-hm"] {background-position: -105px -135px}
.md a[href="#flags-hn"] {background-position: -126px -135px}
.md a[href="#flags-hr"] {background-position: -147px -135px}
.md a[href="#flags-ht"] {background-position: -168px -135px}
.md a[href="#flags-hu"] {background-position: -189px -135px}
.md a[href="#flags-id"] {background-position: 0px -150px}
.md a[href="#flags-ie"] {background-position: -21px -150px}
.md a[href="#flags-il"] {background-position: -42px -150px}
.md a[href="#flags-im"] {background-position: -63px -150px}
.md a[href="#flags-in"] {background-position: -84px -150px}
.md a[href="#flags-io"] {background-position: -105px -150px}
.md a[href="#flags-iq"] {background-position: -126px -150px}
.md a[href="#flags-ir"] {background-position: -147px -150px}
.md a[href="#flags-is"] {background-position: -168px -150px}
.md a[href="#flags-it"] {background-position: -189px -150px}
.md a[href="#flags-je"] {background-position: 0px -165px}
.md a[href="#flags-jm"] {background-position: -21px -165px}
.md a[href="#flags-jo"] {background-position: -42px -165px}
.md a[href="#flags-jp"] {background-position: -63px -165px}
.md a[href="#flags-ke"] {background-position: -84px -165px}
.md a[href="#flags-kg"] {background-position: -105px -165px}
.md a[href="#flags-kh"] {background-position: -126px -165px}
.md a[href="#flags-ki"] {background-position: -147px -165px}
.md a[href="#flags-km"] {background-position: -168px -165px}
.md a[href="#flags-kn"] {background-position: -189px -165px}
.md a[href="#flags-kp"] {background-position: 0px -180px}
.md a[href="#flags-kr"] {background-position: -21px -180px}
.md a[href="#flags-kw"] {background-position: -42px -180px}
.md a[href="#flags-ky"] {background-position: -63px -180px}
.md a[href="#flags-kz"] {background-position: -84px -180px}
.md a[href="#flags-la"] {background-position: -105px -180px}
.md a[href="#flags-lb"] {background-position: -126px -180px}
.md a[href="#flags-lc"] {background-position: -147px -180px}
.md a[href="#flags-lgbt"] {background-position: -168px -180px}
.md a[href="#flags-li"] {background-position: -189px -180px}
.md a[href="#flags-lk"] {background-position: 0px -195px}
.md a[href="#flags-lr"] {background-position: -21px -195px}
.md a[href="#flags-ls"] {background-position: -42px -195px}
.md a[href="#flags-lt"] {background-position: -63px -195px}
.md a[href="#flags-lu"] {background-position: -84px -195px}
.md a[href="#flags-lv"] {background-position: -105px -195px}
.md a[href="#flags-ly"] {background-position: -126px -195px}
.md a[href="#flags-ma"] {background-position: -147px -195px}
.md a[href="#flags-mc"] {background-position: -168px -195px}
.md a[href="#flags-md"] {background-position: -189px -195px}
.md a[href="#flags-me"] {background-position: 0px -210px}
.md a[href="#flags-mg"] {background-position: -21px -210px}
.md a[href="#flags-mh"] {background-position: -42px -210px}
.md a[href="#flags-mk"] {background-position: -63px -210px}
.md a[href="#flags-ml"] {background-position: -84px -210px}
.md a[href="#flags-mm"] {background-position: -105px -210px}
.md a[href="#flags-mn"] {background-position: -126px -210px}
.md a[href="#flags-mo"] {background-position: -147px -210px}
.md a[href="#flags-mp"] {background-position: -168px -210px}
.md a[href="#flags-mq"] {background-position: -189px -210px}
.md a[href="#flags-mr"] {background-position: 0px -225px}
.md a[href="#flags-ms"] {background-position: -21px -225px}
.md a[href="#flags-mt"] {background-position: -42px -225px}
.md a[href="#flags-mu"] {background-position: -63px -225px}
.md a[href="#flags-mv"] {background-position: -84px -225px}
.md a[href="#flags-mw"] {background-position: -105px -225px}
.md a[href="#flags-mx"] {background-position: -126px -225px}
.md a[href="#flags-my"] {background-position: -147px -225px}
.md a[href="#flags-mz"] {background-position: -168px -225px}
.md a[href="#flags-na"] {background-position: -189px -225px}
.md a[href="#flags-nc"] {background-position: 0px -240px}
.md a[href="#flags-ne"] {background-position: -21px -240px}
.md a[href="#flags-nf"] {background-position: -42px -240px}
.md a[href="#flags-ng"] {background-position: -63px -240px}
.md a[href="#flags-ni"] {background-position: -84px -240px}
.md a[href="#flags-nl"] {background-position: -105px -240px}
.md a[href="#flags-no"] {background-position: -126px -240px}
.md a[href="#flags-np"] {background-position: -147px -240px}
.md a[href="#flags-nr"] {background-position: -168px -240px}
.md a[href="#flags-nu"] {background-position: -189px -240px}
.md a[href="#flags-nz"] {background-position: 0px -255px}
.md a[href="#flags-om"] {background-position: -21px -255px}
.md a[href="#flags-pa"] {background-position: -42px -255px}
.md a[href="#flags-pe"] {background-position: -63px -255px}
.md a[href="#flags-pf"] {background-position: -84px -255px}
.md a[href="#flags-pg"] {background-position: -105px -255px}
.md a[href="#flags-ph"] {background-position: -126px -255px}
.md a[href="#flags-pk"] {background-position: -147px -255px}
.md a[href="#flags-pl"] {background-position: -168px -255px}
.md a[href="#flags-pm"] {background-position: -189px -255px}
.md a[href="#flags-pn"] {background-position: 0px -270px}
.md a[href="#flags-pr"] {background-position: -21px -270px}
.md a[href="#flags-ps"] {background-position: -42px -270px}
.md a[href="#flags-pt"] {background-position: -63px -270px}
.md a[href="#flags-pw"] {background-position: -84px -270px}
.md a[href="#flags-py"] {background-position: -105px -270px}
.md a[href="#flags-qa"] {background-position: -126px -270px}
.md a[href="#flags-re"] {background-position: -147px -270px}
.md a[href="#flags-ro"] {background-position: -168px -270px}
.md a[href="#flags-rs"] {background-position: -189px -270px}
.md a[href="#flags-ru"] {background-position: 0px -285px}
.md a[href="#flags-rw"] {background-position: -21px -285px}
.md a[href="#flags-sa"] {background-position: -42px -285px}
.md a[href="#flags-sami"] {background-position: -63px -285px}
.md a[href="#flags-sb"] {background-position: -84px -285px}
.md a[href="#flags-sc"] {background-position: -105px -285px}
.md a[href="#flags-sd"] {background-position: -126px -285px}
.md a[href="#flags-se"] {background-position: -147px -285px}
.md a[href="#flags-sefi"] {background-position: -168px -285px}
.md a[href="#flags-se-jam"] {background-position: -189px -285px}
.md a[href="#flags-se-ska"] {background-position: 0px -300px}
.md a[href="#flags-se-vas"] {background-position: -21px -300px}
.md a[href="#flags-sg"] {background-position: -42px -300px}
.md a[href="#flags-si"] {background-position: -63px -300px}
.md a[href="#flags-sj"] {background-position: -84px -300px}
.md a[href="#flags-sk"] {background-position: -105px -300px}
.md a[href="#flags-sl"] {background-position: -126px -300px}
.md a[href="#flags-sm"] {background-position: -147px -300px}
.md a[href="#flags-sn"] {background-position: -168px -300px}
.md a[href="#flags-so"] {background-position: -189px -300px}
.md a[href="#flags-sr"] {background-position: 0px -315px}
.md a[href="#flags-ss"] {background-position: -21px -315px}
.md a[href="#flags-st"] {background-position: -42px -315px}
.md a[href="#flags-sv"] {background-position: -63px -315px}
.md a[href="#flags-sx"] {background-position: -84px -315px}
.md a[href="#flags-sy"] {background-position: -105px -315px}
.md a[href="#flags-sz"] {background-position: -126px -315px}
.md a[href="#flags-tc"] {background-position: -147px -315px}
.md a[href="#flags-td"] {background-position: -168px -315px}
.md a[href="#flags-tf"] {background-position: -189px -315px}
.md a[href="#flags-tg"] {background-position: 0px -330px}
.md a[href="#flags-th"] {background-position: -21px -330px}
.md a[href="#flags-tj"] {background-position: -42px -330px}
.md a[href="#flags-tk"] {background-position: -63px -330px}
.md a[href="#flags-tl"] {background-position: -84px -330px}
.md a[href="#flags-tm"] {background-position: -105px -330px}
.md a[href="#flags-tn"] {background-position: -126px -330px}
.md a[href="#flags-to"] {background-position: -147px -330px}
.md a[href="#flags-torn"] {background-position: -168px -330px}
.md a[href="#flags-tr"] {background-position: -189px -330px}
.md a[href="#flags-tt"] {background-position: 0px -345px}
.md a[href="#flags-tv"] {background-position: -21px -345px}
.md a[href="#flags-tw"] {background-position: -42px -345px}
.md a[href="#flags-tz"] {background-position: -63px -345px}
.md a[href="#flags-ua"] {background-position: -84px -345px}
.md a[href="#flags-ug"] {background-position: -105px -345px}
.md a[href="#flags-us"] {background-position: -126px -345px}
.md a[href="#flags-us-ca"] {background-position: -147px -345px}
.md a[href="#flags-uy"] {background-position: -168px -345px}
.md a[href="#flags-uz"] {background-position: -189px -345px}
.md a[href="#flags-va"] {background-position: 0px -360px}
.md a[href="#flags-vc"] {background-position: -21px -360px}
.md a[href="#flags-ve"] {background-position: -42px -360px}
.md a[href="#flags-vg"] {background-position: -63px -360px}
.md a[href="#flags-vi"] {background-position: -84px -360px}
.md a[href="#flags-vn"] {background-position: -105px -360px}
.md a[href="#flags-vu"] {background-position: -126px -360px}
.md a[href="#flags-wf"] {background-position: -147px -360px}
.md a[href="#flags-ws"] {background-position: -168px -360px}
.md a[href="#flags-ww"] {background-position: -189px -360px}
.md a[href="#flags-ww-afr"] {background-position: 0px -375px}
.md a[href="#flags-ww-asi"] {background-position: -21px -375px}
.md a[href="#flags-ww-aus"] {background-position: -42px -375px}
.md a[href="#flags-ww-eur"] {background-position: -63px -375px}
.md a[href="#flags-ww-nam"] {background-position: -84px -375px}
.md a[href="#flags-ww-sam"] {background-position: -105px -375px}
.md a[href="#flags-xk"] {background-position: -126px -375px}
.md a[href="#flags-ye"] {background-position: -147px -375px}
.md a[href="#flags-yt"] {background-position: -168px -375px}
.md a[href="#flags-za"] {background-position: -189px -375px}
.md a[href="#flags-zm"] {background-position: 0px -390px}
.md a[href="#flags-zw"] {background-position: -21px -390px}
.md a[href="#flags-?-ow"] {background-position: -42px -390px}
.md a[href="#flags-er"] {background-position: -63px -390px}
.md a[href="#flags-es"] {background-position: -84px -390px}
.md a[href="#flags-et"] {background-position: -105px -390px}